body{
  margin: 1%;
  text-align:center;
  font-family: 'Anton', sans-serif;
  height: 90vh;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/eb/Magic_eight_ball.png");
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  height: 300px;
  justify-content: center;
  align-items: center;
  background-color: #bf9c3b;
}
h1{
  text-decoration: underline;
  font-size: 40px;
}
.box{
    color:#bf9c3b;
    font-size: 25px;
}
.buttonStyle{
    color: black;
}
.buttonStyle:hover{
    border-color: rgba(255,255,255,1);
    background-color: black;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
